#include <winres.h>

LANGUAGE 0, 0

DLGTEMPLATE DIALOG 0,0,316,76
STYLE WS_CHILD | WS_CLIPSIBLINGS | WS_VISIBLE | DS_CONTROL | DS_3DLOOK
CAPTION ""
FONT 8, "MS Sans Serif"
BEGIN
	LTEXT		"",1119,0,0,204,76,NOT WS_VISIBLE | WS_GROUP
END

STRINGTABLE DISCARDABLE
BEGIN
	65312	"November"
	65313	"December"
	65314	"Sun"
	65315	"Mon"
	65316	"Tue"
	65317	"Wed"
	65318	"Thu"
	65319	"Fri"
	65320	"Sat"
	65321	"Sunday"
	65322	"Monday"
	65323	"Tuesday"
	65324	"Wednesday"
	65325	"Thursday"
	65326	"Friday"
	65327	"Saturday"
	65328	"Jul"
	65329	"Aug"
	65330	"Sep"
	65331	"Oct"
	65332	"Nov"
	65333	"Dec"
	65334	"January"
	65335	"February"
	65336	"March"
	65337	"April"
	65338	"May"
	65339	"June"
	65340	"July"
	65341	"August"
	65342	"September"
	65343	"October"
	65344	"バリアント配列の範囲を超えています"
	65345	"外部例外 %x"
	65346	"アサート失敗"
	65347	"Interface はサポートされていません"
	65348	"safecall メソッド内で例外が発生しました。"
	65349	"%s (%s, %d 行)"
	65350	"Abstract エラー"
	65351	"モジュール '%1:s' のアドレス %0:p でアドレス %3:p に対する%2:s違反がおきました。"
	65352	"Win32 エラー。コード : %d.\n%s"
	65353	"Win32 API 呼び出しに失敗しました"
	65354	"Jan"
	65355	"Feb"
	65356	"Mar"
	65357	"Apr"
	65358	"May"
	65359	"Jun"
	65360	"無効なクラス型キャスト"
	65361	"アドレス %0:p でアドレス %2:p に対する%1:s違反がおきました。"
	65362	"スタック オーバーフロー"
	65363	"CTRL-C"
	65364	"特権命令違反"
	65365	"%sがモジュール %s の %p で発生しました。\n%s%s"
	65366	"アプリケーション エラー"
	65367	"書式文字列 '%s' は正しくないか引数の型と一致しません"
	65368	"書式文字列 '%s' の引数が見つかりません"
	65369	"バリアントの型変換が不正です"
	65370	"バリアントに対する演算が正しくありません"
	65371	"バリアントのメソッド呼び出しは使えません"
	65372	"読み込み"
	65373	"書き込み"
	65374	"バリアント配列を作成できません"
	65375	"バリアント配列ではありません"
	65376	"I/O エラー (%d)"
	65377	"ファイルが見つかりません"
	65378	"不正なファイル名です"
	65379	"オープンしたファイルが多すぎます"
	65380	"ファイルへのアクセスが拒否されました"
	65381	"ファイルの末尾以降を読み込みました"
	65382	"ディスクがいっぱいです"
	65383	"入力値が数値ではありません"
	65384	"ゼロによる除算"
	65385	"範囲チェックエラー"
	65386	"整数のオーバーフロー"
	65387	"不正な浮動小数点数演算命令"
	65388	"0 による浮動小数点数除算"
	65389	"浮動小数点数のオーバーフロー"
	65390	"浮動小数点数のアンダーフロー"
	65391	"無効なポインタ操作"
	65392	"リストは重複を許しません。($0%x)"
	65393	"不正なインデックス"
	65394	"アイテムの挿入ができません"
	65395	"owner プロパティが不正"
	65396	"RichEdit での行の挿入エラー"
	65397	"ストリームからの読み込みに失敗しました"
	65398	"ストリームへの書き込みに失敗しました"
	65399	"OLE エラー %.8x"
	65400	"メソッド '%s' はオートメーション オブジェクトでサポートしていません"
	65401	"バリアントはオートメーション オブジェクトを参照していません"
	65402	"'%s' は整数ではありません"
	65403	"'%s' は浮動小数点数ではありません"
	65404	"'%s' は日付ではありません"
	65405	"'%s' は時刻ではありません"
	65406	"'%s' は日付または時刻ではありません"
	65407	"メモリが足りません"
	65408	"クリップボードはアイコンには対応していません"
	65409	"クリップボードを開くことができません"
	65410	"文字列の大きさが メモ の制限を越えました"
	65411	"デフォルト プリンタが存在しません"
	65412	"インデックスが範囲を超えました"
	65413	"'%s' のデータ型が不正です"
	65414	"'%s' の設定に失敗しました"
	65415	"'%s' の取得に失敗しました"
	65416	"メニュー '%s' は既に他のフォームで使われています"
	65417	"画像:"
	65418	" (%dx%d)"
	65419	"プレビュー"
	65420	"ドッキングコントロールは名前を持っていなければなりません"
	65421	"ドッキングツリーからコントロールを削除する際のエラー"
	65422	" - ドッキングゾーンが見つかりません。"
	65423	" - ドッキングゾーンはコントロールを持ちません。"
	65424	"PgDn"
	65425	"End"
	65426	"Home"
	65427	"Left"
	65428	"Up"
	65429	"Right"
	65430	"Down"
	65431	"Ins"
	65432	"Del"
	65433	"Shift+"
	65434	"Ctrl+"
	65435	"Alt+"
	65436	"(なし)"
	65437	"すべてのファイル"
	65438	"行を挿入できません"
	65439	"無効なクリップボード フォーマットです"
	65440	"いいえ(&N)"
	65441	"OK"
	65442	"キャンセル"
	65443	"ヘルプ(&H)"
	65444	"中止(&A)"
	65445	"再試行(&R)"
	65446	"無視(&I)"
	65447	"すべて(&A)"
	65448	"すべていいえ(&O)"
	65449	"すべてはい(&A)"
	65450	"BkSp"
	65451	"Tab"
	65452	"Esc"
	65453	"Enter"
	65454	"Space"
	65455	"PgUp"
	65456	"閉じる(&C)"
	65457	"無視(&I)"
	65458	"再試行(&R)"
	65459	"中止"
	65460	"すべて(&A)"
	65461	"フォームをドラッグすることはできません"
	65462	"メタファイル"
	65463	"エンハンス メタファイル"
	65464	"アイコン"
	65465	"ビットマップ"
	65466	"不正なプロパティの値です"
	65467	"警告"
	65468	"エラー"
	65469	"情報"
	65470	"確認"
	65471	"はい(&Y)"
	65472	"メニューインデックスが範囲を越えました"
	65473	"メニューを二度追加しました"
	65474	"サブメニューがメニューにありません"
	65475	"タイマーを取得できません"
	65476	"プリンタに印刷できる状態ではありません"
	65477	"現在印刷中です"
	65478	"選択したプリンタは有効ではありません"
	65479	"%s. %s"
	65480	"GroupIndex は直前のメニューアイテムの GroupIndex より小さくすることができません"
	65481	"フォームが作成できません。有効な MDI フォームがありません"
	65482	"自分自身を親とすることはできません"
	65483	"OK"
	65484	"キャンセル"
	65485	"はい(&Y)"
	65486	"いいえ(&N)"
	65487	"ヘルプ(&H)"
	65488	"システム リソースが足りません"
	65489	"Canvas に対する描画ができません"
	65490	"イメージサイズが正しくありません"
	65491	"不正なイメージ リスト"
	65492	"イメージの置き換えができません"
	65493	"不正なインデックスがイメージ リストに渡されました"
	65494	"ストリームからの ImageList データの読み込みに失敗しました"
	65495	"ストリームへの ImageList データの書き込みに失敗しました"
	65496	"デバイス コンテキストの作成に失敗しました"
	65497	"ウィンドウクラスの作成でエラーが発生しました"
	65498	"無効/非表示ウィンドウにはフォーカスを設定できません"
	65499	"コントロール '%s' は親ウィンドウを持っていません"
	65500	"MDI 子フォームを隠すことはできません"
	65501	"OnShow/OnHide イベントの処理中は表示状態の変更はできません"
	65502	"表示されているウィンドウをモーダルにすることはできません"
	65503	"プロパティ %s の範囲を超えています"
	65504	"コンポーネント名に ''%s'' は使えません"
	65505	"クラス名 %s はすでに使われています"
	65506	"不正なプロパティの値です"
	65507	"不正なプロパティのパスです"
	65508	"プロパティが存在しません"
	65509	"プロパティは書き込み禁止です"
	65510	"%s%s%s の読み込み中のエラー : %s"
	65511	"'%s' の継承元が存在しません"
	65512	"ビットマップイメージが不正です"
	65513	"アイコンイメージが不正です"
	65514	"メタファイルが不正です"
	65515	"画像フォーマットが不正です"
	65516	"スキャンライン のインデックスが範囲を越えました"
	65517	"アイコンの大きさは変更できません"
	65518	"拡張子 .%s の画像形式は処理できません"
	65519	"未対応のクリップボード データです"
	65520	"%s を %s に代入することはできません"
	65521	"ファイル %s を作成できません"
	65522	"ファイル %s は開けません"
	65523	"ストリームからの読み込みエラー"
	65524	"ストリームへの書き込みエラー"
	65525	"メモリストリームの拡大中にメモリが足りなくなりました"
	65526	"読み込み専用リソース ストリームには書き込めません"
	65527	"クラス %s が見つかりません"
	65528	"不正なストリーム フォーマット"
	65529	"%s リソースが見つかりません"
	65530	"リストのインデックスが範囲を超えています (%d)"
	65531	"リストの容量が超えました (%d)"
	65532	"リストの個数を超えました (%d)"
	65533	"ソートされる文字列リストに対しては許されない動作です"
	65534	"文字列リストは重複を許しません"
	65535	"コンポーネント名 %s はすでに使われています"
END
